<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="wxLista">
		<title>Lista kont</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>1</rows>
			<object class="sizeritem">
				<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW1" variable="ScrolledWindow1" member="yes">
					<style>0</style>
					<object class="wxListBox" name="ID_LISTBOX1" variable="ListBox1" member="yes">
						<default>-1</default>
						<pos>0,0</pos>
						<size>400,200</size>
						<style>wxVSCROLL|wxHSCROLL|wxALWAYS_SHOW_SB</style>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
